
$pageWidth: 1170px;
$pageMd: 970px;
$pageSm: 750px;

$gutter: 30px;
$gutterMd: 20px;





$OpenSansReg: OpenSans-Reg, sans-serif;
$OpenSansBold: OpenSans-Bold, sans-serif;
$RalewayBlack: Raleway-Black, sans-serif;
$RalewayBold: Raleway-Bold, sans-serif;
$RobotoSlabReg: RobotoSlab-Reg, sans-serif;
$RobotoSlabBold: RobotoSlab-Bold, sans-serif;
$RobotoBold: Roboto-Bold, sans-serif;


$blockBg: #ebebeb;
$navBg: #ebebe8;
$aCol: #ff303c;
